html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; }
  html body {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    html body section.header {
      width: 100vw;
      background-color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      html body section.header svg {
        width: 230px;
        margin: 1rem; }
      html body section.header .nav-full-width {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #323232; }
        html body section.header .nav-full-width .nav-fixed-width {
          width: 990px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          text-transform: uppercase; }
          html body section.header .nav-full-width .nav-fixed-width a {
            color: #ffffff;
            text-decoration: none;
            padding: .75rem;
            font-size: .6875rem;
            letter-spacing: .05rem;
            border-left: 1px solid #323232;
            border-right: 1px solid #323232;
            font-family: 'Ropa Sans', sans-serif; }
            html body section.header .nav-full-width .nav-fixed-width a:hover {
              background-color: #293859;
              border-left: 1px solid #ffffff;
              border-right: 1px solid #ffffff; }
      html body section.header .nav-path {
        width: 990px;
        margin: 1rem 0;
        color: #959595;
        font-size: 0.6875rem; }
        html body section.header .nav-path p {
          margin: 0;
          padding: 0 1rem; }
          html body section.header .nav-path p span.page-item {
            color: #323232; }
    html body section.product {
      width: 990px;
      padding: 1rem 0 4rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      html body section.product .product-images {
        max-width: 540px;
        margin: 0 1rem; }
        html body section.product .product-images #large-image {
          width: 100%;
          margin-bottom: 1rem; }
        html body section.product .product-images #thumbnails {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 0 3rem; }
          html body section.product .product-images #thumbnails img {
            border: solid 2px #fff; }
            html body section.product .product-images #thumbnails img:visited, html body section.product .product-images #thumbnails img:hover, html body section.product .product-images #thumbnails img:active, html body section.product .product-images #thumbnails img:focus {
              border: solid 2px #323232; }
      html body section.product .product-description {
        margin-left: 1rem; }
        html body section.product .product-description h2 {
          margin: 0;
          font-family: 'Times New Roman', Times, serif;
          font-size: 1.25rem;
          color: #323232; }
        html body section.product .product-description p, html body section.product .product-description ul {
          font-family: 'Helvetica', Arial, sans-serif;
          font-size: .8125rem;
          line-height: 1.75;
          color: #7a7a7a; }
          html body section.product .product-description p.price, html body section.product .product-description ul.price {
            font-size: 1.25rem;
            line-height: 1rem;
            color: #323232; }
        html body section.product .product-description .quantity {
          margin: 1rem 0; }
          html body section.product .product-description .quantity input {
            border: solid 1px #323232;
            font-size: 1rem;
            padding: .75rem 1rem;
            max-width: 2rem;
            margin: 0;
            -webkit-box-shadow: inset 0px 8px 4px -5px #CCC;
            box-shadow: inset 0px 8px 4px -5px #CCC; }
            html body section.product .product-description .quantity input:hover {
              z-index: 1000; }
        html body section.product .product-description .button {
          padding: 0 0 1rem; }
          html body section.product .product-description .button a {
            color: #ffffff;
            background-color: #ea1a18;
            padding: 1rem;
            text-transform: uppercase;
            font-family: 'Ropa Sans', sans-serif;
            letter-spacing: .1rem;
            text-decoration: none;
            margin: 1rem 0;
            line-height: 3.0625rem; }
            html body section.product .product-description .button a svg.cta {
              height: 12px;
              padding-left: 4px;
              fill: #fff; }
        html body section.product .product-description .accordian-section {
          border-top: 2px solid #323232;
          border-bottom: 2px solid #323232; }
          html body section.product .product-description .accordian-section button {
            width: 100%;
            border: none;
            text-align: left;
            padding: 1rem 0 1rem 1rem;
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
            background-image: url("../img/arrow-collapsed.png");
            background-repeat: no-repeat;
            background-position: left; }
            html body section.product .product-description .accordian-section button.active {
              background-image: url("../img/arrow-expanded.png");
              background-repeat: no-repeat; }
          html body section.product .product-description .accordian-section p {
            margin: 0;
            padding: 0 0 1rem 1rem; }
          html body section.product .product-description .accordian-section hr {
            margin: 0; }
    html body section.footer {
      background-color: #f1f1f1;
      border-top: 1px solid #323232;
      width: 100vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      html body section.footer .disclaimer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 990px;
        padding: 1rem 0; }
        html body section.footer .disclaimer p {
          font-size: .75rem;
          color: #717171; }
          html body section.footer .disclaimer p a {
            color: #515151;
            text-decoration: none; }
            html body section.footer .disclaimer p a:hover {
              text-decoration: underline; }
            html body section.footer .disclaimer p a span.update {
              color: #ea1a18; }
