html {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    section.header {
      width: 100vw;
      background-color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      svg {
        width: 230px;
        margin: 1rem;
        min-height: 105px;
      }
      .nav-full-width {
        min-height: 36px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #323232;
        .nav-fixed-width {
          width: 990px;
          display: flex;
          justify-content: space-evenly;
          text-transform: uppercase;
          a {
            color: #ffffff;
            text-decoration: none;
            padding: .75rem;
            font-size: .6875rem;
            letter-spacing: .05rem;
            border-left: 1px solid #323232;
            border-right: 1px solid #323232;
            font-family: 'Ropa Sans', sans-serif;
            &:hover {
              background-color: #293859;
              border-left: 1px solid #ffffff;
              border-right: 1px solid #ffffff;
            }
          }
        }
      }
      .nav-path {
        width: 990px;
        margin: 1rem 0;
        color: #959595;
        font-size: 0.6875rem;
        p {
          margin: 0;
          padding: 0 1rem;
          span.page-item {
            color: #323232;
          }
          a {
            text-decoration: none;
            color: #959595;
          }
        }
      }
    }
    section.product {
      width: 990px;
      padding: 1rem 0 6rem;
      display: flex;
      .product-images {
        max-width: 540px;
        margin: 0 1rem;
        #large-image {
          width: 100%;
          margin-bottom: 1rem;
        }
        #thumbnails {
          display: flex;
          margin: 0 3rem;
          img {
            border: solid 2px #fff;
            &:visited, &:hover, &:active, &:focus {
              border: solid 2px #323232;
            }
          }
        }
      }
      .product-description {
        margin-left: 1rem;
        h2 {
          margin: 0;
          font-family: 'Times New Roman', Times, serif;
          font-size: 1.25rem;
          color: #323232
        }
        p, ul {
          font-family: 'Helvetica', Arial, sans-serif;
          font-size: .8125rem;
          line-height: 1.75;
          color: #7a7a7a;
          &.price {
            font-size: 1.25rem;
            line-height: 1rem;
            color: #323232;
          }
        }
        .quantity {
          margin: 1rem 0;
          input {
            border: solid 1px #323232;
            font-size: 1rem;
            padding: .75rem 1rem;
            max-width: 2rem;
            margin: 0;
            box-shadow: 
              inset 0px 8px 4px -5px #CCC;
            &:hover {
              z-index: 1000;
            }
          }
        }
        button#myBtn {
          white-space: nowrap;
          border: none;
          background-color: #ea1a18;
          text-transform: uppercase;
          font-family: 'Ropa Sans', sans-serif;
          letter-spacing: .1rem;
          text-decoration: none;
          margin: 1rem 0;
          padding: 0;
          color: #ffffff;
          padding: 1rem; 
          text-transform: uppercase;
          letter-spacing: .1rem;
          text-decoration: none;
          font-size: 1rem;
          display: flex;
          cursor: pointer;
          svg.cta {
            height: 15px;
            width:10px;
            padding-left: 4px;
            fill: #fff;
          }
        }
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto; 
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 1rem;
          border: 1px solid #888;
          width: 300px;
          max-height: 400px;
          display: flex;
          flex-direction: column;
          div:first-of-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          div:last-of-type {
            display: flex;
            flex-direction: column;
            h2 {
              margin: 0;
            }
            button#myBtn {
              white-space: nowrap;
              border: none;
              background-color: #ea1a18;
              text-transform: uppercase;
              font-family: 'Ropa Sans', sans-serif;
              letter-spacing: .1rem;
              text-decoration: none;
              margin: 1rem 0;
              padding: 0;
              color: #ffffff;
              padding: 1rem; 
              text-transform: uppercase;
              letter-spacing: .1rem;
              text-decoration: none;
              font-size: 1rem;
              display: flex;
              justify-content: center;
              cursor: pointer;
              svg.cta {
                height: 15px;
                padding-left: 4px;
                fill: #fff;
              }
            }
            a {
              font-size: .875rem;
              color: #7a7a7a;
            }
          }
        }
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
        }
        .close:hover, .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        .accordian-section {
          border-top: 2px solid #323232;
          border-bottom: 2px solid #323232;
          button {
            background-color: #ffffff;
            width: 100%;
            border: none;
            text-align:left;
            padding: 1rem 0 1rem 1.1rem;
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
            background-image: url('https://davedelanunez.github.io/williams-sonoma-challenge/img/arrow-collapsed.svg');
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: left;
            &.active {
              background-image: url('https://davedelanunez.github.io/williams-sonoma-challenge/img/arrow-expanded.svg');
              background-repeat: no-repeat;
              background-size: 12px 12px;
            }
          }
          p {
            margin: 0;
            padding: 0 0 1rem 1rem;
          }
          hr {
            margin: 0;
          }
        }
      }
    }
    section.footer {
      background-color: #f1f1f1;
      border-top: 1px solid #323232;
      width: 100vw;
      display: flex;
      justify-content: center;
      .disclaimer {
        display: flex;
        justify-content: center;
        width: 990px;
        padding: 1rem 0;
        p {
          font-size: .75rem;
          color: #717171;
          a {
            color: #515151;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
            span.update {
              color: #ea1a18;
            }
          }
        }
      }
    }
  }
}